<script lang="ts">
  import { onMount } from "svelte";

  export let query : string;
  export let log: boolean = false;
  // Set this to false set your own if wrappers inside the slot.
  export let showOnlyIfMatches = true;

  let mql: MediaQueryList;
  let wasMounted = false;
  let matches = false;

  onMount(() => {
    wasMounted = true;
    return () => {
      removeActiveListener();
    };
  });

  $: {
    if (wasMounted) {
      removeActiveListener();
      addNewListener(query);
    }
  }

  function mqlListener(v: MediaQueryListEvent) {
    if (log) console.log("matches", v.matches);
    matches = v.matches;
  }

  function addNewListener(query: string) {
    mql = window.matchMedia(query);
    mql.addEventListener("change", mqlListener);
    matches = mql.matches;
  }

  function removeActiveListener() {
    if (mql) {
      mql.removeEventListener("change", mqlListener);
    }
  }
</script>

{#if !showOnlyIfMatches || matches}
<slot {matches} />
{:else}
<slot name="else" />
{/if}
