<script>
  export let fillColor = "#828C98";
</script>

<svg
  width="22"
  height="28"
  viewBox="0 0 22 28"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M5.66667 1.99999V20.6667H20.3333V2.66666C20.3333 2.29847 20.0349 1.99999 19.6667 1.99999H5.66667ZM4.33333 1.99999H3.66667C2.5621 1.99999 1.66667 2.89542 1.66667 3.99999V21.3331C2.22377 20.9146 2.91626 20.6667 3.66667 20.6667H4.33333V1.99999ZM0.534951 25.1443C0.410578 25.0232 0.333332 24.854 0.333332 24.6667V3.99999C0.333332 2.15904 1.82572 0.666656 3.66667 0.666656H19.6667C20.7712 0.666656 21.6667 1.56209 21.6667 2.66666V25.3333C21.6667 26.4379 20.7712 27.3333 19.6667 27.3333H3.66667C2.22776 27.3333 1.0018 26.4216 0.534951 25.1443ZM20.3333 22H3.66667C2.5621 22 1.66667 22.8954 1.66667 24C1.66667 25.1046 2.5621 26 3.66667 26H19.6667C20.0349 26 20.3333 25.7015 20.3333 25.3333V22ZM9 11.3333C8.63181 11.3333 8.33333 11.0348 8.33333 10.6667C8.33333 10.2985 8.63181 9.99999 9 9.99999H17C17.3682 9.99999 17.6667 10.2985 17.6667 10.6667C17.6667 11.0348 17.3682 11.3333 17 11.3333H9ZM9 8.66666C8.63181 8.66666 8.33333 8.36818 8.33333 7.99999C8.33333 7.6318 8.63181 7.33332 9 7.33332H14.3333C14.7015 7.33332 15 7.6318 15 7.99999C15 8.36818 14.7015 8.66666 14.3333 8.66666H9Z"
    fill={fillColor}
  />
</svg>
