<script>
  export let fillColor = "#828C98";
</script>

<svg
  width="25"
  height="24"
  viewBox="0 0 25 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M8.05086 21.5934C8.18492 21.5711 8.32261 21.5903 8.44548 21.6484C9.8568 22.3158 11.4029 22.6667 13 22.6667C18.891 22.6667 23.6667 17.891 23.6667 12C23.6667 6.10896 18.891 1.33333 13 1.33333C7.10896 1.33333 2.33333 6.10896 2.33333 12C2.33333 14.2759 3.04704 16.4425 4.35273 18.2466C4.49348 18.4411 4.51879 18.6962 4.41901 18.9146L2.79441 22.4695L8.05086 21.5934ZM1.77626 23.9909C1.24931 24.0788 0.838267 23.5421 1.06031 23.0562L3.0479 18.707C1.72191 16.7435 0.999998 14.4253 0.999998 12C0.999998 5.37258 6.37258 0 13 0C19.6274 0 25 5.37258 25 12C25 18.6274 19.6274 24 13 24C11.2767 24 9.60382 23.6361 8.06738 22.9424L1.77626 23.9909Z"
    fill={fillColor}
  />
</svg>
