<script>
  export let fillColor = "#828C98";
</script>

<svg
  width="28"
  height="20"
  viewBox="0 0 28 20"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M26 7.33332V5.99999H2V7.33332H26ZM26 8.66666H2V16C2 17.1046 2.89543 18 4 18H24C25.1046 18 26 17.1046 26 16V8.66666ZM26 4.66666V3.99999C26 2.89542 25.1046 1.99999 24 1.99999H4C2.89543 1.99999 2 2.89542 2 3.99999V4.66666H26ZM20.6668 16.31C19.6395 16.9044 18.3135 16.7514 17.4477 15.8856C16.4063 14.8442 16.4063 13.1558 17.4477 12.1144C18.312 11.25 19.6376 11.0945 20.6668 11.69C21.059 11.4632 21.5143 11.3333 22 11.3333C23.4728 11.3333 24.6667 12.5272 24.6667 14C24.6667 15.4727 23.4728 16.6667 22 16.6667C21.5144 16.6667 21.059 16.5368 20.6668 16.31ZM19.6664 15.2916C19.4542 14.9089 19.3333 14.4686 19.3333 14C19.3333 13.5314 19.4542 13.091 19.6664 12.7084C19.2225 12.5944 18.7336 12.7141 18.3905 13.0572C17.8698 13.5779 17.8698 14.4221 18.3905 14.9428C18.7341 15.2863 19.2229 15.4054 19.6664 15.2916ZM0.666668 3.99999C0.666668 2.15904 2.15905 0.666656 4 0.666656H24C25.841 0.666656 27.3333 2.15904 27.3333 3.99999V16C27.3333 17.8409 25.841 19.3333 24 19.3333H4C2.15905 19.3333 0.666668 17.8409 0.666668 16V3.99999ZM22 15.3333C22.7364 15.3333 23.3333 14.7364 23.3333 14C23.3333 13.2636 22.7364 12.6667 22 12.6667C21.2636 12.6667 20.6667 13.2636 20.6667 14C20.6667 14.7364 21.2636 15.3333 22 15.3333Z"
    fill={fillColor}
  />
</svg>
