<script>
  export let fillColor = "#828C98";
</script>

<svg
  width="22"
  height="22"
  viewBox="0 0 22 22"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M15.1038 12.2543L19.7127 14.3492C20.9027 14.8901 21.6667 16.0766 21.6667 17.3838V18.3333C21.6667 20.1743 20.1743 21.6667 18.3333 21.6667H3.66666C1.82571 21.6667 0.333328 20.1743 0.333328 18.3333V17.3838C0.333328 16.0766 1.09734 14.8901 2.28732 14.3492L6.89621 12.2543C5.33612 11.0341 4.33333 9.13414 4.33333 7.00001C4.33333 3.31811 7.3181 0.333344 11 0.333344C14.6819 0.333344 17.6667 3.31811 17.6667 7.00001C17.6667 9.13414 16.6639 11.0341 15.1038 12.2543ZM8.28168 13.0891L2.83906 15.563C2.12507 15.8876 1.66666 16.5995 1.66666 17.3838V18.3333C1.66666 19.4379 2.56209 20.3333 3.66666 20.3333H18.3333C19.4379 20.3333 20.3333 19.4379 20.3333 18.3333V17.3838C20.3333 16.5995 19.8749 15.8876 19.1609 15.563L13.7183 13.0891C12.8881 13.4603 11.9682 13.6667 11 13.6667C10.0318 13.6667 9.11185 13.4603 8.28168 13.0891ZM11 12.3333C13.9455 12.3333 16.3333 9.94553 16.3333 7.00001C16.3333 4.05449 13.9455 1.66668 11 1.66668C8.05448 1.66668 5.66666 4.05449 5.66666 7.00001C5.66666 9.94553 8.05448 12.3333 11 12.3333Z"
    fill={fillColor}
  />
</svg>
