<script lang="ts">
  import { onMount } from "svelte";
  import { page } from "$app/stores";
  import Header from "$lib/header/Header.svelte";
  import Footer from "$lib/footer/Footer.svelte";
  import HeaderMobile from "$lib/header/HeaderMobile.svelte";
  import {
    data,
    bookings,
    fetchAndUpdateData,
    initPromise,
  } from "$lib/stores/data";
  import MediaQuery from "$lib/MediaQuery.svelte";
  import QueryGetter from "$lib/QueryGetter";
  import { goto } from "$app/navigation";
  import { locale } from "$lib/translations";
  import { guideLangChange } from "$lib/stores/guide";

  $: onMount(async () => {
    await $initPromise;
    if ($data.records.length <= 0) {
      // Not logged input.
      return goto("/");
    }
    // If ?payment=completed, refetch data from salesforce
    const query: URLSearchParams = $page.url.searchParams;
    if (query.get("payment") === "completed") {
      await fetchAndUpdateData($bookings);
    }

    await guideLangChange($locale);
  });

</script>

<div class="flex flex-col h-full">
  {#await $initPromise then}
    {#if $page.url.pathname != "/app/guide"}
      <Header />
    {:else}
      <MediaQuery query={QueryGetter.getMinWidth("sm")}>
        <Header />
      </MediaQuery>
    {/if}

    <main>
      <slot />
    </main>
    <!-- Push footer to the bottom of the screen. -->
    <div class="grow" />

    <MediaQuery query={QueryGetter.getMinWidth("sm")}>
      <Footer />
    </MediaQuery>

    <HeaderMobile />
  {/await}
</div>
