<script lang="ts">
  import GuideHeader from "$comp/parts/guide/GuideHeader.svelte";
  import Sidescroller from "$comp/parts/guide/Sidescroller.svelte";
  import Sidebar from "$comp/parts/guide/Sidebar.svelte";
  import PraticalList from "$comp/parts/guide/PraticalList.svelte";
  import { Circle } from "svelte-loading-spinners";
  import { tripGuide } from "$lib/stores/guide";
  import { onMount } from "svelte";

  let active;
  function setActiveSection(event) {
    return (active = event.detail.active);
  }
</script>

{#await $tripGuide}
  <div class="grid justify-center w-screen h-screen  items-center">
    <Circle size="80" color="#D69330" unit="px" duration="1s" />
  </div>
{:then}
  <!-- Header -->

  <GuideHeader linkedtrip={$tripGuide.LinkedTrip} />

  <!-- Sidescroller -->
  <Sidescroller />

  <div class="grid sm:grid-cols-guide sm:mx-auto max-w-[1000px] pt-[75px]">
    <Sidebar {active} />
    <!-- Trip Information -->
    <PraticalList
      on:sectionActive={(event) => setActiveSection(event)}
      trip={$tripGuide}
    />
  </div>

  <div class="w-full h-40 py-10" />
{:catch error}
  <div class="grid p-4 w-full justify-center">
    {error}
    <hr />
  </div>
{/await}
