<script>
  import { formatCurrency } from "$lib/Utility";
  import Link from "$comp/base/Link.svelte";
  import Divider from "$comp/base/Divider.svelte";
  import Details from "$comp/parts/booking/BookingDetails.svelte";
  import Extra from "$comp/parts/booking/Extra.svelte";
  import { t, locale } from "$lib/translations";
  import { data, bookings } from "$lib/stores/data";
  import MissingPaymentsNotification from "$comp/parts/MissingPaymentsNotification.svelte";
  import QueryGetter from "$lib/QueryGetter";
  import MediaQuery from "$lib/MediaQuery.svelte";

</script>

{#key $locale}
  {#if $data?.records}
    {#each $bookings as booking}
      <div class="base-section py-main sm:py-0 sm:pb-40 text-primary-dark">
        <MediaQuery query={QueryGetter.getMinWidth("md")}>
          <div class="my-4 md:mt-12">
            <h1 class="header-primary header-primary--main">
              {$t("common.payment.payment_for_journey")}
            </h1>
          </div>
        </MediaQuery>
        <MediaQuery query={QueryGetter.getMinWidth("md")}>
          <MissingPaymentsNotification {booking} />
        </MediaQuery>
        <!-- Bookingdetailjer -->
        <MediaQuery
          query={QueryGetter.getMinWidth("md")}
          showOnlyIfMatches={false}
          let:matches
        >
          <Details {booking} asAccordion={matches} />
          {#if !matches}
            <Divider />
          {/if}

          {#if booking.Addons.length > 0}
            <!-- Ekstra tilføjelser -->
            <Extra addons={booking.Addons} asAccordion={matches} />
            {#if !matches}
              <Divider />
            {/if}
          {/if}
          <!-- Priser -->
          {#if !matches}
            <div class="text-primary-dark">
              <div class="grid grid-cols-1 py-medium">
                <p class="flex justify-between py-text text-primary-dark">
                  {#if booking.Price}
                    <strong class="font-bold font-roboto "
                      >{$t(
                        "common.booking_payment_overview.totalprice"
                      )}</strong
                    ><strong
                      >{formatCurrency(booking.Price, booking.Currency)}</strong
                    >
                  {/if}
                </p>

                <p class="flex justify-between py-text text-primary-dark">
                  <strong
                    >{$t("common.booking_payment_overview.paid_amount")}</strong
                  ><strong
                    >{formatCurrency(
                      booking.getPaidAmount(),
                      booking.Currency
                    )}</strong
                  >
                </p>
              </div>
              <div class="w-full">
                <span class="printer-hidden">
                  <Link link="/app/payment">{$t("common.booking.button")}</Link>
                </span>
              </div>
            </div>
          {:else}
            <div class="pl-[2rem] my-5 text-primary-dark">
              <p class="flex flex-row justify-between mb-8">
                <span>
                  <strong class="text-xl">
                    {$t("common.booking_payment_overview.totalprice")}
                  </strong>
                  - inkl.moms
                </span>
                <strong class="text-xl">
                  {formatCurrency(booking.Price, booking.Currency)}
                </strong>
              </p>
              <p class="flex flex-row justify-between">
                <strong class="text-xl">
                  {$t("common.booking_payment_overview.paid_amount")}
                </strong>
                <strong class="text-xl">
                  {formatCurrency(booking.getPaidAmount(), booking.Currency)}
                </strong>
              </p>
            </div>
            <Divider />
          {/if}
        </MediaQuery>
      </div>
    {/each}
  {/if}
{/key}
