<script lang="ts">
  // Stores and data
  import { data, bookings, fetchAndUpdateData } from "$lib/stores/data";
  // Lib
  import { t } from "$lib/translations";
  import QueryGetter from "$lib/QueryGetter";
  import PaymentBox from "$comp/parts/payment-box.svelte";
  import PaymentTable from "$comp/parts/PaymentTable.svelte";

  // Components
  import MediaQuery from "$lib/MediaQuery.svelte";

  import PaymentFull from "$comp/parts/PaymentFull.svelte";
  import { onMount } from "svelte";


  onMount(async () => {
      await fetchAndUpdateData($bookings);
  });

</script>

<section class="base-section my-4 sm:pb-40">
  <div class="mt-6 md:m-12">
    <h1 class="header-primary header-primary--main">
      <MediaQuery query={QueryGetter.getMinWidth("md")}>
        {$t("common.payment.payment_for_journey")}
      </MediaQuery>
      <MediaQuery query={QueryGetter.getMaxWidth("sm_max")}>
        {$t("common.payment.payment")}
      </MediaQuery>
    </h1>
  </div>

  {#if $bookings[0].DisplayPayments.length >= 1}
    <MediaQuery
      query={QueryGetter.getMinWidth("md")}
      showOnlyIfMatches={false}
      let:matches
    >
      <PaymentTable>
        {#each $bookings[0].DisplayPayments as payment, i}
          <PaymentBox
          {payment}
          divider={!matches || i != $bookings[0].DisplayPayments.length - 1}
        />
        {/each}
      </PaymentTable>
    </MediaQuery>




    <!-- Full payment component feature removed/disabled for now. If we never recieve a payment record with category fullpayment, this will not enabled anyway,
    but it's removed for good measure.  -->
    <!-- {#if $bookings[0].FullPayment != null && !$bookings[0].hasOnlyFullPayment()}
      <div class="mt-4">
        <PaymentFull payment={$bookings[0].FullPayment} />
      </div>
    {/if}
     -->
  {/if}
</section>
