<script lang="ts">
  import Notifications from "svelte-notifications";
  import "../app.css";
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "firebase/app";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyDY9tHcbMhTUkYDylJx3dVHFb8OFfZ68og",
    authDomain: "dbp-app-24bf8.firebaseapp.com",
    projectId: "dbp-app-24bf8",
    storageBucket: "dbp-app-24bf8.appspot.com",
    messagingSenderId: "750012300878",
    appId: "1:750012300878:web:b7bf937ac209e076ea8d1f",
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
</script>

<main>
  <Notifications>
    <slot />
  </Notifications>
</main>
