<script>
  import Login from "$comp/parts/login.svelte";
</script>

<div class="fixed z-[-1]">
  <img class="object-cover h-screen w-screen" src="bg.jpg" alt="" />
</div>
<div
  class="flex flex-col items-center justify-start w-full h-full px-main text-center"
>
  <div class="p-12 mx-auto">
    <img class="w-32 mx-auto" src="logo.png" alt="" />
  </div>
  <Login />
</div>
