<script lang="ts">
  import { formatCurrency } from "$lib/Utility";
  import { t, locale } from "$lib/translations";
  import type Booking from "$lib/data-classes/Booking";
  import Print from "$comp/base/Print.svelte";
  // Components
  import Accordion from "$comp/base/Accordion.svelte";
  import Slot from "$comp/base/Slot.svelte";
  import { tripGuide } from "$lib/stores/guide";

  // Exports
  export let booking: Booking;
  export let asAccordion: boolean = false;

  function formatDate(date) {
    let d = new Date(date);
    return d.toLocaleString("da-DK", {
      day: "numeric",
      month: "long",
      year: "numeric",
    });
  }
</script>

<svelte:component
  this={asAccordion ? Accordion : Slot}
  detailsBorder={true}
  startOpen={true}
  closeable={false}
>
  <div slot="summary">
    <span>{$t("common.booking.bookingdetails")}</span>
    <span class="ml-4 printer-hidden"><Print /></span>
  </div>
  <div slot="summary_right">
    <span class="font-bold">{$t("common.booking.order_number")}:</span>
    {booking.BookingNumber}
  </div>
  <div class="">
    {#if !asAccordion}
      <h2 class="header-primary">
        {$t("common.booking.bookingdetails")}
        <span class="ml-4 printer-hidden"><Print /></span>
      </h2>
    {/if}
    <div class="py-medium">
      <p class="pb-large" class:pt-large={!asAccordion}>
        <a target="_blank" href={$tripGuide.LinkedTrip.link}>
          <strong>Destination: </strong><span class="text-secondary"
            >{booking.Trip.Destination}</span
          >
        </a>
      </p>
      <p class="py-text">
        <strong>{$t("common.booking.amount_of_people")}:</strong><span
          class="m-1"
        >
          {#each booking?.AgeGroups as ageGroup, index}
            <!-- add , to all items but last -->
            <span>
              {ageGroup.Amount}
              {ageGroup.getLocalName($locale)}{booking.AgeGroups.length > 1 &&
              index < booking.AgeGroups.length - 1
                ? ","
                : ""}
            </span>
          {/each}
        </span>
      </p>
      <div class="sm:flex sm:flex-row">
        <p class="py-text mr-12">
          <strong>{$t("common.booking.arrival")}:</strong><span class="ml-2"
            >{formatDate(booking.Arrival)}</span
          >
        </p>
        <p class="py-text">
          <strong>{$t("common.booking.departure")}:</strong><span class="ml-2"
            >{formatDate(booking.Departure)}</span
          >
        </p>
      </div>
      {#if asAccordion}
        <div class="flex flex-row pt-4 font-bold items-center justify-between">
          <span>Pris</span>
          <span class="text-lg"
            >{formatCurrency(booking.BasePrice, booking.Currency)}</span
          >
        </div>
      {/if}
    </div>
  </div>
</svelte:component>
