<script lang="ts">
  import { t, locale } from "$lib/translations";
  import { stringTrans, formatCurrency } from "$lib/Utility";
  import type Addon from "$lib/data-classes/Addon";

  // Components
  import Accordion from "$comp/base/Accordion.svelte";
  import Slot from "$comp/base/Slot.svelte";

  // Exports
  export let addons: Array<Addon>;
  export let asAccordion: boolean = false;
</script>

<!-- Ekstra tilføjelser -->
<svelte:component
  this={asAccordion ? Accordion : Slot}
  summaryBorder={false}
  startOpen={true}
  closeable={false}
  detailsClass="mb-6"
>
  <span slot="summary">{$t("common.extra.title")}</span>
  {#if !asAccordion}
    <h2 class="header-primary py-header">{$t("common.extra.title")}</h2>
  {/if}
  <div class="pb-5 space-y-[0.875rem] text-[1.125rem]">
    {#each addons as addon}
      <p class="flex flex-row justify-between">
        <span>
          {addon.getLocalName($locale)}
          {#if addon.Amount > 1}
            <span class="font-bold"
              >- {addon.Amount} {$t("common.extra.pcs")}</span
            >
          {/if}
        </span>
        <strong>
          {addon.formatCurrency()}
        </strong>
      </p>
    {/each}
  </div>
</svelte:component>
