<script lang="ts">
  import { page } from "$app/stores";
  import MediaQuery from "$lib/MediaQuery.svelte";
  import Language from "./parts/language.svelte";
  import Item from "./parts/Item.svelte";
  import ItemsDesktop from "./parts/items-desktop.svelte";
  import logoImage from "./SVG/logoImage.svelte";
  import QueryGetter from "$lib/QueryGetter";
  import { t, locale, locales } from "$lib/translations";
  import { bookings } from "$lib/stores/data";
</script>

<MediaQuery query={QueryGetter.getMaxWidth("mobile_max")}>
  <div class="p-14" />
  <header
    class="mobile-header fixed bottom-0 bg-white sm:top-0 w-full border-t-faded-default border-[1px] printer-hidden"
  >
    <nav class="pt-3 pb-[3.25rem] px-2 flex justify-center">
      <ul class="grid grid-cols-4 w-full justify-items-center">
        <li class="h-ful ">
          <Item
            active={/^\/app\/?$/.test($page.url.pathname)}
            link="/app"
            text={$t("common.menu.booking")}
            svg="person"
          />
        </li>
        <li class="h-full">
          <Item
            active={$page.url.pathname === "/app/payment"}
            link="/app/payment"
            text={$t("common.menu.payment")}
            svg="payment"
            notification={$bookings[0].hasRemainingPayments()}
          />
        </li>
        <li class="h-full">
          <Item
            active={$page.url.pathname === "/app/guide"}
            link="/app/guide"
            text={$t("common.menu.guide")}
            svg="guide"
          />
        </li>
        <li class="h-full">
          <Item
            targetBlank={true}
            active={$page.url.pathname === "/app/help"}
            link="https://dbpadventures.com/{$locale !== 'dk'
              ? $locale + '/'
              : ''}faq/"
            text={$t("common.menu.help")}
            svg="help"
          />
        </li>
      </ul>
    </nav>
  </header>
</MediaQuery>

<style>
  @media print {
    .mobile-header {
      position: sticky;
    }
  }
</style>
