<script lang="ts">
  import { page } from "$app/stores";
  import MediaQuery from "$lib/MediaQuery.svelte";
  import Language from "./parts/language.svelte";
  import Item from "./parts/Item.svelte";
  import ItemsDesktop from "./parts/items-desktop.svelte";
  import logoImage from "./SVG/logoImage.svelte";
  import QueryGetter from "$lib/QueryGetter";
  import { t, locale, locales } from "$lib/translations";
  import { bookings } from "$lib/stores/data";
</script>

<header
  class="flex shrink-0 sm:relative bg-opacity-0 justify-around items-end sm:items-center top-0 w-full py-4 sm:py-0  border-t-faded-default border-[1px]"
>
  <div class="logo">
    <a class="w-[70px] h-[70px]" href="/app">
      <svelte:component this={logoImage} />
    </a>
  </div>
  {#if $bookings[0]}
    <MediaQuery query={QueryGetter.getMinWidth("sm")}>
      <nav class="px-2 flex justify-center">
        <ul class="flex space-x-4 sm:space-x-8 md:space-x-16 lg:space-x-18">
          <ItemsDesktop text={$t("common.menu-desktop.booking")} link="/app" />
          <ItemsDesktop
            notification={$bookings[0].hasRemainingPayments()}
            text={$t("common.menu-desktop.payment")}
            link="/app/payment"
          />
          <ItemsDesktop
            text={$t("common.menu-desktop.guide")}
            link="/app/guide"
          />
          <ItemsDesktop
            targetBlank={true}
            text={$t("common.menu-desktop.help")}
            link="https://dbpadventures.com/{$locale !== 'dk'
              ? $locale + '/'
              : ''}faq/"
          />
        </ul>
      </nav>
    </MediaQuery>
  {/if}
  <Language />
</header>

<style>
  @media print {
    nav {
      display: none;
    }
  }
</style>
