<script lang="ts">
  import person from "../SVG/person.svelte";
  import guide from "../SVG/guide.svelte";
  import payment from "../SVG/payment.svelte";
  import help from "../SVG/help.svelte";

  export let targetBlank: boolean = false;
  export let active: boolean;
  export let svg: any = undefined;
  export let text: string, link: string;
  export let notification: boolean = false;

  let svgs = {
    person,
    guide,
    payment,
    help,
  };
</script>

{#if targetBlank}
  <a
    target="_blank"
    class="w-full flex flex-wrap flex-col justify-around  h-full content-between items-center"
    class:no-decoration={active}
    href={link}
  >
    <span class="relative" class:has-notification={notification}>
      <svelte:component
        this={svgs[svg]}
        fillColor={active ? "#D69330" : "#828C98"}
      />
    </span>
    <span class="text-[13px]" class:font-bold={active}>{text}</span>
  </a>
{:else}
  <a
    class="w-full flex flex-wrap flex-col justify-around  h-full content-between items-center"
    class:no-decoration={active}
    sveltekit:prefetch
    href={link}
  >
    <span class="relative" class:has-notification={notification}>
      <svelte:component
        this={svgs[svg]}
        fillColor={active ? "#D69330" : "#828C98"}
      />
    </span>
    <span class="text-[13px]" class:font-bold={active}>{text}</span>
  </a>
{/if}

<style>
  .has-notification::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: #d69330;
    transform: translate(50%, -50%);
  }
</style>
