<script lang="ts">
  import { page } from "$app/stores";

  export let text: string, link: string;
  export let notification: boolean = false;
  export let targetBlank: boolean = false;

  //import { t } from "$lib/translations";
</script>

<li
  class="flex flex-col justify-center relative text-center py-10"
  class:active={$page.url.pathname === link ||
    $page.url.pathname === link + "/"}
>
  {#if targetBlank}
    <a
      target="_blank"
      class="no-underline hover:no-underline"
      href={link}
    >
      <span class="menu-item relative" class:has-notification={notification}
        >{text}</span
      >
    </a>
  {:else}
    <a class="no-underline hover:no-underline" sveltekit:prefetch href={link}>
      <span class="menu-item relative" class:has-notification={notification}
        >{text}</span
      >
    </a>
  {/if}
</li>

<style>
  .active::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    border-bottom: 1px solid #d69330;
    z-index: 0;
  }

  .has-notification::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: #d69330;
    transform: translate(100%, -50%);
  }
</style>
