<script>
  import { locale } from "$lib/translations";
  import { guideLangChange } from "$lib/stores/guide";
  import {  bookings } from "$lib/stores/data";
import { onMount } from "svelte";

  function updateLang() {
    localStorage.setItem("lang", $locale);
    guideLangChange($locale);
  }

  function updateLangFromBooking() {
    let currency = $bookings[0].Currency;

    // DKK SEK EUR
    switch(currency) {
      case "DKK":
        $locale = "dk";
        break;
      case "SEK":
        $locale = "se";
        break;
      case "EUR":
        $locale = "en";
        break;
      default:
        $locale = "en";
    }
    // guideLangChange(currency);
  }

  onMount(() => {
    updateLangFromBooking();
  })

  let options = {
    en: "English / EN",
    dk: "Dansk / DK",
    se: "Svenske / SE",
  };
</script>

<div class="language-select-wrapper inline-block relative w-34">
  <select
    bind:value={$locale}
    on:change={updateLang}
    class="block appearance-none w-full font-bold bg-white px-4 py-2 pr-8 border-none focus:border-none focus:outline-none focus:ring-white	"
  >
    {#each Object.entries(options) as [key, value]}
      <option class="pr-4" class:appearance-none={$locale != key} value={key}
        >{value}</option
      >
    {/each}
  </select>
</div>

<style>
  @media print {
    .language-select-wrapper {
      display: none;
    }
  }
</style>
