<script lang="ts">
  import { t } from "$lib/translations";
  import Logout from "$comp/base/Logout.svelte";
</script>

<footer>
  <div
    class="top-footer bg-primary px-main py-12 text-faded-blue flex flex-col items-center"
  >
    <div class="mx-auto ">
      <div class="flex space-x-8 flex-row justify-center mb-8">
        <p>
          <a href="tel:+4531600407">+45 31 60 04 07</a>
        </p>
        <p>
          <a href="mailto:rejsmed@debredeplanker.dk"
            >rejsmed@debredeplanker.dk</a
          >
        </p>
      </div>
      <div class="flex space-x-8 flex-row justify-center mt-8">
        <p>DBP Adventures ApS</p>
        <p>Slagtehusgade 9C, 1715 Copenhagen V</p>
        <p>CVR: 36062541</p>
      </div>
    </div>
    <img class="mx-auto mt-12" src="/footer-logo.svg" alt="DBP Adventures" />
  </div>
  <div
    class="bg-primary-darker text-faded-blue p-main flex flex-row flex-wrap justify-center"
  >
    <div class="grid grid-cols-1 sm:grid-cols-4 gap-x-10 gap-y-3 text-center">
      <a target="_blank" href={$t("common.links.terms")}
        >{$t("common.extra.terms")}</a
      >
      <a target="_blank" href={$t("common.links.privacy_policy")}
        >{$t("common.extra.privacy_policy")}</a
      >
      <a target="_blank" href={$t("common.links.cookie_policy")}
        >{$t("common.extra.cookie_policy")}</a
      >
      <Logout />
    </div>
  </div>
</footer>

<style>
  p {
    font-size: 14px;
    /* margin-top: 0.75rem; */
    /* margin-bottom: 0.75rem; */
  }

  a {
    transition-property: color;
    transition-duration: 150ms;
    text-underline-offset: 6px;
  }

  a:hover {
    color: #e8eef5;
  }

  .top-footer a {
    text-decoration: underline;
    text-decoration-color: #d69330;
  }

  @media print {
    footer {
      display: none;
    }
  }
</style>
