<script lang="ts">
  export let speed = 200;
  export let summaryBorder = true;
  export let detailsBorder = true;
  export let detailsClass = "";
  export let startOpen: boolean = false;
  export let closeable: boolean = true;

  let detailsElem: HTMLDetailsElement;
  let summaryElem: HTMLElement;
  let contentElem: HTMLElement;

  let isExpanding = false;
  let isClosing = false;
  let isOpen = startOpen;

  $: isChanging = isExpanding || isClosing;
  $: classOpen = isExpanding || (isOpen && !isClosing);

  let animation: Animation;

  function onClick(e: Event) {
    // e.preventDefault();
    if (isClosing || !isOpen) {
      open();
      // Check if the element is being openned or is already open
    } else if (isExpanding || isOpen) {
      if (closeable) {
        shrink();
      }
    }
  }

  // Function called to close the content with an animation
  function shrink() {
    // Set the element as "being closed"
    isClosing = true;

    // Store the current height of the element
    const startHeight = `${detailsElem.offsetHeight}px`;
    // Calculate the height of the summary
    const endHeight = `${summaryElem.offsetHeight}px`;

    // If there is already an animation running
    if (animation) {
      // Cancel the current animation
      animation.cancel();
    }

    // Start a WAAPI animation
    animation = detailsElem.animate(
      {
        // Set the keyframes from the startHeight to endHeight
        height: [startHeight, endHeight],
      },
      {
        // If the duration is too slow or fast, you can change it here
        duration: speed,
        // You can also change the ease of the animation
        easing: "ease-out",
      }
    );

    // When the animation is complete, call onAnimationFinish()
    animation.onfinish = () => onAnimationFinish(false);
    // If the animation is cancelled, isClosing variable is set to false
    animation.oncancel = () => (isClosing = false);
  }

  // Function called to open the element after click
  function open() {
    // Apply a fixed height on the element
    detailsElem.style.height = `${detailsElem.offsetHeight}px`;
    // Force the [open] attribute on the details element
    isOpen = true;

    // Wait for the next frame to call the expand function
    window.requestAnimationFrame(() => expand());
  }

  // Function called to expand the content with an animation
  function expand() {
    // Set the element as "being expanding"
    isExpanding = true;
    // Get the current fixed height of the element
    const startHeight = `${detailsElem.offsetHeight}px`;
    // Calculate the open height of the element (summary height + content height)
    const endHeight = `${
      summaryElem.offsetHeight + contentElem.offsetHeight
    }px`;
    //console.log(startHeight, endHeight, summaryElem.offsetHeight, contentElem.offsetHeight);

    // If there is already an animation running
    if (animation) {
      // Cancel the current animation
      animation.cancel();
    }

    // Start a WAAPI animation
    animation = detailsElem.animate(
      {
        // Set the keyframes from the startHeight to endHeight
        height: [startHeight, endHeight],
      },
      {
        // If the duration is too slow of fast, you can change it here
        duration: speed,
        // You can also change the ease of the animation
        easing: "ease-out",
      }
    );
    // When the animation is complete, call onAnimationFinish()
    animation.onfinish = () => onAnimationFinish(true);
    // If the animation is cancelled, isExpanding variable is set to false
    animation.oncancel = () => (isExpanding = false);
  }

  // Callback when the shrink or expand animations are done
  function onAnimationFinish(openVal: boolean) {
    // Set the open attribute based on the parameter
    isOpen = openVal;
    // Clear the stored animation
    animation = null;
    // Reset isClosing & isExpanding
    isClosing = false;
    isExpanding = false;
    // Remove the overflow hidden and the fixed height
    detailsElem.style.height = "";
  }
</script>

<details
  bind:this={detailsElem}
  on:click
  open={isOpen}
  class={detailsClass}
  class:open={classOpen}
  class:overflow-hidden={isChanging}
  class:border-b-0={!detailsBorder}
>
  <summary bind:this={summaryElem}>
    <div
      class="flex justify-between items-end w-full pl-8 pb-6 text-primary-dark"
      on:click|preventDefault={onClick}
    >
      {#if closeable}
        <!-- content here -->
        <span class="rotator" />
      {/if}
      <div class="text-[1.375rem] font-bold">
        <slot name="summary" />
      </div>
      <div class="text-[1.125rem]">
        <slot name="summary_right" />
      </div>
    </div>
  </summary>
  <div
    class="content pl-8 py-6 border-faded text-primary-dark"
    bind:this={contentElem}
    class:pt-0={!summaryBorder}
    class:pb-0={!detailsBorder}
    class:border-t={summaryBorder}
  >
    <slot />
  </div>
</details>
