<script lang="ts">
  export let danger: boolean = false;

  $: isDefault = !danger;
</script>

<div class="w-full border px-main py-2 rounded mb-4"
  class:border-secondary={isDefault}
  class:border-danger={danger}
  >
  <slot />
</div>
