<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import { Circle } from "svelte-loading-spinners";

  export let loading = false;
  export let disabled = false;
  export let secondary = false;
  export let isSubmit = false;
  export let text: string = "";
  export let circleLoader : "none" | "left" | "right" = "right";

  const dispatch = createEventDispatcher();

  $: isDisabled = loading || disabled;
</script>

{#if isSubmit}
  <input type=submit
    value={text}
    class="btn btn--submit"
    class:btn--secondary={secondary}
    class:btn--disabled={isDisabled}
    on:click={() => dispatch('click')} />
{:else}
  <button
    class="btn"
    class:btn--secondary={secondary}
    class:btn--disabled={isDisabled}
    class:cursor-default={isDisabled}
    on:click={() => dispatch('click')}>
    {#if loading && circleLoader === "left"}
        <Circle size="80" color="#D69330" unit="px" duration="1s" />
    {/if}
    {#if !text}
      <slot />
    {:else}
      { text }
    {/if}
    {#if loading && circleLoader === "right"}
      <div class="inline-block">
        <Circle size="1" color="#ffffff" unit="em" duration="1s" />
      </div>
    {/if}
  </button>
{/if}
