<script lang="ts">
  export let link = "/";
  export let secondary: boolean = false;
</script>

<a
  class:btn--secondary={secondary}
  class="btn block w-full text-center"
  href={link}><slot /></a
>
