<script lang="ts">
  import { goto } from "$app/navigation";
  import { t } from "$lib/translations";
  export let style: boolean = true;
  export let classes: string = "";

  function logout() {
    if (typeof localStorage === undefined) return;
    localStorage.removeItem("login_booking_number");

    return goto("/");
  }
</script>

{#if style}
  <span class="{classes} cursor-pointer" on:click={logout}
    >{$t("common.logout.logout")}</span
  >
{:else}
  <span class="btn {classes} cursor-pointer" on:click={logout}
    >{$t("common.logout.logout")}</span
  >
{/if}
