<script lang="ts">
  function printPage() {
    window.print();
  }
  export let alwaysShow: boolean = false;
  const isSupported: boolean = typeof window.print === "function";
</script>

{#if alwaysShow || isSupported}
  <span
    class="cursor-pointer italic font-assistant font-bold text-sm text-secondary hover:text-secondary-light"
    on:click={printPage}><slot>Print</slot></span
  >
{/if}
