<script lang="ts">
  import { t } from "$lib/translations";
  import { goto } from "$app/navigation";
  import { Circle } from "svelte-loading-spinners";
  import { data } from "$lib/stores/data";
  import { email, booking_number } from "$lib/stores/login";
  import { getSalesforceData } from "$lib/Utility";
  import { getNotificationsContext } from "svelte-notifications";
  import Booking from "$lib/data-classes/Booking";
  import { onMount } from "svelte";

  let loading = false;
  let alertText = "Invalid";

  const { addNotification } = getNotificationsContext();

  $: loading;
  let errors = {
    email: false,
    booking_number: false,
  };
  function validateInput() {
    if ($email.trim() === "" || !$email.includes("@")) {
      errors.email = true;
    } else {
      errors.email = false;
    }

    if ($booking_number.trim() === "") {
      errors.booking_number = true;
    } else {
      errors.booking_number = false;
    }

    // check if errors are true
    if (errors.email || errors.booking_number) {
      return true;
    } else {
      return false;
    }
  }

  // check url for get email and booking number
  // if url has email and booking number sign user in
  function autologin() {
    if (
      window.location.href.includes("oid") &&
      window.location.href.includes("eid")
    ) {
      let query_booking = window.location.href.split("oid=")[1].split("&")[0];
      let query_email = window.location.href
        .split("eid=")[1]
        .split("&")[0];

      if (query_email.includes("%40")) {
        query_email = query_email.replace("%40", "@");
      }

      $email = query_email;
      $booking_number = query_booking;

      signIn();
    }
  }

  onMount((): void => {
    autologin();
  });

  async function signIn() {
    let error = validateInput();
    if (error) {
      return;
    }

    // send request to server
    loading = true;

    const params = {
      email: $email,
      booking_number: $booking_number,
    };

    // lowercase emails.
    $email = $email.toLocaleLowerCase();

    try {
      const fetchedData = await getSalesforceData($email, $booking_number);
      // Check that email is correct
      switch (fetchedData.status_code) {
        case "200":
          break;
        case "500":
          alertText = "common.login.something_went_wrong";
          throw new Error();
        case "404":
        default:
          alertText = "common.login.invalid_login";
          throw new Error();
      }
      const booking = new Booking(fetchedData.data.records[0]);
      if (booking.Account.PersonEmail !== $email) {
        errors.email = true;
        alertText = "common.login.invalid_login";
        throw new Error();
      }
      sessionStorage.setItem("booking_data", JSON.stringify(fetchedData.data));
      $data = fetchedData.data;
      loading = false;
      localStorage.setItem("login_booking_number", $booking_number);
      localStorage.setItem("email", $email);
    } catch (ex) {
      //alert("Something went wrong");
      console.log(ex);
      addNotification({
        text: $t(alertText),
        type: "danger",
        position: "bottom-right",
        removeAfter: 2000,
      });
      loading = false;
      return;
    }

    return goto("/app/");
  }
</script>

<div class="w-full max-w-sm sm:max-w-xs">
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    on:submit|preventDefault={signIn}
  >
    {#if !loading}
      <div class="mb-4">
        <label class="block text-primary text-sm font-bold mb-2" for="username">
          {$t("common.login.email")}
        </label>
        <input
          bind:value={$email}
          class="shadow appearance-none border rounded w-full py-2 px-3 mb-3 text-primary leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="text"
          placeholder={$t("common.login.email")}
          required
        />
        {#if errors.email}
          <p class="text-danger text-xs italic">
            {$t("common.login.email_error")}
          </p>
        {/if}
      </div>
      <div class="mb-6">
        <label class="block text-primary text-sm font-bold mb-2" for="password">
          Booking number
        </label>
        <input
          bind:value={$booking_number}
          class="shadow appearance-none border border-danger rounded w-full py-2 px-3 mb-3  text-primary leading-tight focus:outline-none focus:shadow-outline"
          id="bookingid"
          type="text"
          placeholder="Booking number"
        />
        {#if errors.booking_number}
          <p class="text-danger text-xs italic">
            {$t("common.login.id_error")}
          </p>
        {/if}
      </div>
      <div class="flex items-center justify-center">
        <button
          class="bg-secondary hover:bg-secondary-light text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          {$t("common.login.sign_in")}
        </button>
      </div>
    {:else}
      <div class="flex justify-center p-12">
        <Circle size="80" color="#D69330" unit="px" duration="1s" />
      </div>
    {/if}
  </form>
</div>
