<script lang="ts">
  import { t } from "$lib/translations";
  import type Booking from "$lib/data-classes/Booking";

  export let booking: Booking;

  // console.log($page.url.pathname == "/app/payment");
</script>

<div class="text-center">
  {#if booking.hasNoPayments()}
    <div
      class="payment-notification printer-hidden bg-faded rounded inline-grid text-left mx-auto my-8"
    >
      <div class="py-4 px-8 break-words">
        {$t("common.payment.missing_booking_verification")}
      </div>
    </div>
  {:else if booking.hasRemainingPayments()}
    <div
      class="payment-notification printer-hidden bg-faded rounded inline-grid text-left mx-auto my-8"
    >
      <div class="py-4 px-8 break-words">
        {$t("common.payment.you_have_missing_payments")}
      </div>
      <div
        class="payment border-l border-primary border-opacity-10 text-center text-secondary font-bold h-full py-4 px-[6px] flex flex-col justify-center cursor-pointer"
      >
        <a href="/app/payment">
          {$t("common.payment.pay_here")}
        </a>
      </div>
    </div>
  {:else if !booking.hasRemainingPayments()}
    <div
      class="payment-notification printer-hidden bg-faded rounded inline-grid mx-auto my-8 justify-center items-center"
    >
      <div class="py-4 px-8 break-words flex justify-between">
        <span> {$t("common.payment.no_missing_payments")}</span>
      </div>
      <div
        class="payment border-l border-primary border-opacity-10 text-center font-bold h-full py-4 px-[6px] flex flex-col justify-center "
      >
        <div
          class="w-6 h-6 bg-green-600 justify-self-end mx-11  rounded-full grid justify-center items-start text-white"
        >
          <!-- Checkmark -->
          ✓
        </div>
      </div>
    </div>
  {/if}
</div>

<style>
  .payment-notification {
    grid-template-columns: minmax(0, 1fr) 130px;
  }
</style>
