<script lang="ts">
  import Button from "../base/Button.svelte";
  import PaymentButtonForm from "./PaymentButtonForm.svelte";
  import { t, locale } from "$lib/translations";
  import type Payment from "$lib/data-classes/Payment";
  import { formatCurrency } from "$lib/Utility";
  import { bookings, fetchAndUpdateData } from "$lib/stores/data";
  import { onMount } from "svelte";
  import Link from "$comp/base/Link.svelte";

  export let payment: Payment;

  let amount;
  $: amount = getFullAmount();

  let formattedCurrency: string;
  $: $locale, (formattedCurrency = formatCurrency(amount, payment.Currency));

  function getFullAmount() {
    return $bookings[0].getRemainingPrice();
  }

  let endpoint = `${
    import.meta.env.VITE_BOOKING_API_URL
  }wp-json/dbp-engine/v1/payment/fullpayment`;

  // Updates Full payment.
  async function updatePaymentLink() {
    if (payment.Paid) return; // If the full payment is already paid, do nothing.

    let queryParams = new URLSearchParams({
      id: payment.Booking.Id,
      payment_record_id: payment.Id,
    });

    const response = await fetch(`${endpoint}?${queryParams}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    });

    let json = await response.json();
    if (json.status == "success") {
      return fetchAndUpdateData($bookings);
    }
  }

  onMount(async () => {
    await updatePaymentLink();
  });
</script>

<PaymentButtonForm {payment}>
  {#if payment.PaymentLink != null && !payment.Paid}
    <Link secondary={true} link={payment.PaymentLink}>
      {$t("common.payment.pay_full_amount")} - {formattedCurrency}
    </Link>
  {:else}
    <Button secondary={true} disabled={getFullAmount() <= 0 || payment.Paid}>
      {$t("common.payment.pay_full_amount")} - {formattedCurrency}
    </Button>
  {/if}
</PaymentButtonForm>
