<script lang="ts">
  import { goto } from "$app/navigation";
  import type Payment from "$lib/data-classes/Payment";
  import Booking from "$lib/data-classes/Booking";
  import { bookings, fetchAndUpdateData } from "$lib/stores/data";

  // TODO:: Import lang and update endpoint.

  export let payment: Payment;

  let form: HTMLFormElement;



  let loading = false;

  async function createPayment(event: Event) {
    if (payment.Paid || payment.Failed) return;
    loading = true;
    const formData = new FormData(form) as any;
    const json = Object.fromEntries(formData.entries());
    const queryParams = new URLSearchParams(json);
    let paymentLink = payment.PaymentLink;

    console.info("Payment does not have payment link, fetching one");

    
 


    let endpoint = `${import.meta.env.VITE_BOOKING_API_URL}${$bookings[0].CurrencyMap}wp-json/dbp-engine/v1/payment/`;


    const response = await fetch(`${endpoint}?${queryParams}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    });
    const fetchedData = await response.json();

    loading = false;

    if (fetchedData["status"] == "error") {
      // fetch the data again since the payment most likely already exists
      try {
        const paymentId = payment.Id;
        const response = await fetchAndUpdateData($bookings);
        const booking = new Booking(response.records[0]);
        console.log("fetched booking", booking);
        const newPayment = booking.Payments.find(
          (_payment) => _payment.Id === paymentId
        );
        paymentLink = newPayment.PaymentLink;
        if (!paymentLink) {
          throw new Error("Payment link was not updated");
        }
        return goto(paymentLink);
      } catch (ex) {
        console.error(ex);
        return;
      }
    }

    return goto(fetchedData["payment_link"]);
  }
</script>

<form on:submit|preventDefault={createPayment} bind:this={form}>
  <input type="hidden" name="id" value={payment.Booking.Id} />
  <input type="hidden" name="payment_record_id" value={payment.Id} />
  <slot {loading} {createPayment} />
</form>
