<script lang="ts">
  import Button from "../base/Button.svelte";
  import PaymentButtonForm from "./PaymentButtonForm.svelte";
  import Link from "../base/Link.svelte";
  import MediaQuery from "$lib/MediaQuery.svelte";
  import QueryGetter from "$lib/QueryGetter";
  import { t, locale } from "$lib/translations";
  import type Payment from "$lib/data-classes/Payment";
  import { formatCurrency } from "$lib/Utility";

  export let payment: Payment;
  export let divider: boolean = true;

  let formattedCurrency: string;
  $: $locale,
    (formattedCurrency = formatCurrency(payment.Amount, payment.Currency));
</script>

<PaymentButtonForm {payment} let:loading>
  <div
    class="payment-box grid gap-x-4 gap-y-4 auto-rows-auto grid-cols-2 md:grid-cols-4 break-words items-center py-5"
    class:text-faded-blue={payment.Paid || payment.Failed}
    class:line-through={payment.Failed}
  >
    <div class="order-1">
      <strong>
        {#if payment.getDescription()}
          {$t(payment.getDescription())}
        {/if}
      </strong>
    </div>
    <div class="order-3 md:order-2">
      <MediaQuery query={QueryGetter.getMaxWidth("sm_max")}>
        <strong
          >{$t(
            `common.payment.${payment.Paid ? "paid" : "payment_deadline"}`
          )}</strong
        >
        <br />
      </MediaQuery>
      <span
        class:text-red-500={payment.isDeadlineClose() &&
          !payment.Paid &&
          !payment.Failed}
      >
        {payment.formatDeadline($locale)}
      </span>
    </div>
    <div class="order-2 text-right md:text-left">
      <strong>{formattedCurrency}</strong>
    </div>
    <div class="order-4">
      <Button disabled={payment.Paid || payment.Failed} {loading}>
        <span class:line-through={payment.Failed} class:cursor-default={payment.Failed}>
          {#if payment.Failed}
            {$t(`common.payment.failed`)}
          {:else if payment.Retryable }
            {$t("common.payment.retryable")}
          {:else}
            {$t(`common.payment.${payment.Paid ? "paid" : "pay_now"}`)}
          {/if}
        </span>
      </Button>
    </div>
  </div>
</PaymentButtonForm>

{#if divider}
  <hr />
{/if}
