<script lang="ts">
  import { t } from "$lib/translations";
  import QueryGetter from "$lib/QueryGetter";
  import MediaQuery from "$lib/MediaQuery.svelte";
</script>
<div class="border-faded md:border rounded-xl">
  <MediaQuery query={QueryGetter.getMinWidth("md")}>
    <div class="grid grid-cols-4 gap-x-4 break-words border-b border-faded px-main py-4">
      <div>{ $t("common.payment.payment") }</div>
      <div>{ $t("common.payment.payment_deadline") }</div>
      <div>{ $t("common.payment.amount") }</div>
      <div>{ $t("common.payment.status") }</div>
    </div>
  </MediaQuery>
  <div class="md:px-main" data-payment-box-slots>
    <slot />
  </div>
</div>
