<script lang="ts">
  import LogoImage from "$lib/header/SVG/logoImage.svelte";
  import MediaQuery from "$lib/MediaQuery.svelte";
  import QueryGetter from "$lib/QueryGetter";
  import { t } from "$lib/translations";
  import type { PostObject } from "$lib/data-classes/Guide";

  export let linkedtrip: PostObject;

  function isEmpty(str) {
    return !str || str.length === 0;
  }
</script>

<div class="grid relative  mx-auto">
  <MediaQuery query={QueryGetter.getMaxWidth("sm")}>
    <div class="absolute z-10 p-6">
      <a class="w-[70px] h-[70px]" href="/">
        <svelte:component this={LogoImage} />
      </a>
    </div>
  </MediaQuery>
  <div class="relative">
    <img
      class="h-[60vh] w-full object-cover"
      src={isEmpty(linkedtrip.image) ? "../guide_test.jpg" : linkedtrip.image}
      alt=""
    />
    <div
      class="max-w-[1000px] grid sm:grid-cols-guide w-full bottom-14 left-0 right-0 mx-auto absolute"
    >
      <h1
        class="bottom-4 left-4 col-span-2 text-white  p-4 font-bold text-header leading-[35px]"
      >
        <span class="font-extralight text-[25px]">
          {$t("common.guide.sub_title")}</span
        >
        <br />
        <span class="text-[35px] sm:text-[50px] leading-[50px]">
          {linkedtrip.post_title}</span
        >
      </h1>
    </div>
  </div>
</div>
