<script lang="ts">
  import Divider from "$comp/base/Divider.svelte";
  import Accordion from "$comp/base/Accordion.svelte";
  import { t } from "$lib/translations";
  import { createEventDispatcher, onMount } from "svelte";
  import { tripGuide, keys } from "$lib/stores/guide";

  //
  const dispatch = createEventDispatcher();

  export let trip;

  const intersectedElements = [];
  let listIntersectionElements = [];

  function addIntersectedElement(elem: Element) {
    if (intersectedElements.includes(elem)) {
      return;
    }
    intersectedElements.push(elem);
  }

  function removeIntersectedElement(elem: Element) {
    const index = intersectedElements.indexOf(elem);
    if (index === -1) {
      return;
    }
    intersectedElements.splice(index, 1);
  }

  function getTopIntersectedElement(): Element | null {
    if (intersectedElements.length <= 0) return null;
    const topElem = intersectedElements.reduce((topElem, elem) => {
      return topElem.offsetTop < elem.offsetTop ? topElem : elem;
    }, intersectedElements[0]);
    return topElem;
  }

  function ListIntersection() {
    // Obsection observer for list intersection
    const intersectionObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            addIntersectedElement(entry.target);
          } else {
            removeIntersectedElement(entry.target);
          }
        });
        const topElement = getTopIntersectedElement();
        if (topElement) {
          dispatch("sectionActive", {
            active: topElement.getAttribute("id"),
          });
        }
      },
      {
        rootMargin: "0% 0% -40% 0%",
        //threshold: 1,
      }
    );

    // Observe all elements with the class "list-intersection"
    listIntersectionElements.forEach((element) => {
      intersectionObserver.observe(element);
    });
  }

  onMount(async () => {
    await $tripGuide;
    ListIntersection();
  });
</script>

<div class="sm:max-w-[100%]">
  {#each $keys as key, i}
    {#if trip[key].length > 0}
      <div class="base-section">
        <h1
          id={key}
          class="pt-6 header-primary list-intersection"
          bind:this={listIntersectionElements[i]}
        >
          {$t(`common.guide.${key.toLowerCase()}`)}
        </h1>
        {#each trip[key] as item}
          <Accordion startOpen={true}>
            <h2 class="font-bold text-primary text-[18px]" slot="summary">
              {item.section_title}
            </h2>
            <div class="accordion__content">
              {@html item.section_content}
            </div>
          </Accordion>
        {/each}
      </div>
    {/if}
  {/each}
  <!-- END -->
</div>
