<script lang="ts">
  import MediaQuery from "$lib/MediaQuery.svelte";
  import QueryGetter from "$lib/QueryGetter";
  import { t } from "$lib/translations";
  import Divider from "$comp/base/Divider.svelte";
  import { keys } from "$lib/stores/guide";
</script>

<MediaQuery query={QueryGetter.getMaxWidth("sm")}>
  <div class="w-full">
    <ul class="p-6  min-w-full flex overflow-x-auto justify-start">
      {#each $keys as item}
        <li class="mx-4 whitespace-nowrap links">
          <a
            class="text-primary-dark font-semibold font-assistant"
            href={`#${item}`}>{$t(`common.guide.${item.toLowerCase()}`)}</a
          >
        </li>
      {/each}
    </ul>
    <Divider />
  </div>
</MediaQuery>
