<script lang="ts">
  import Item from "$lib/header/parts/Item.svelte";
  import MediaQuery from "$lib/MediaQuery.svelte";
  import QueryGetter from "$lib/QueryGetter";
  import { t } from "$lib/translations";
  import { onMount } from "svelte";
  import { keys } from "$lib/stores/guide";

  export let active;

  function onSidebarClick(e: Event, item: string) {
    active = `${item}`;
  }
</script>

<MediaQuery query={QueryGetter.getMinWidth("sm")}>
  <div>
    <div class="sticky top-0 px-6">
      <h3 class="pt-6 pb-2 text-[22px] font-bold text-black font-assistant">
        Indholdsliste
      </h3>
      <ul class="min-w-full">
        {#each $keys as item}
          <li class="my-4 whitespace-nowrap links">
            <a
              on:click={(e) => onSidebarClick(e, item)}
              class:text-secondary={"#" + active == `#${item}`}
              class="font-regular  font-assistant"
              href={`#${item}`}>{$t(`common.guide.${item.toLowerCase()}`)}</a
            >
          </li>
        {/each}
      </ul>
    </div>
  </div>
</MediaQuery>
