/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.tff") format("ttf");
  }

  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Assistant-Regular.tff") format("ttf");
  }

  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Assistant-SemiBold.tff") format("ttf");
  }

  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Assistant-Bold.tff") format("ttf");
  }

  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Assistant-ExtraBold.tff") format("ttf");
  }

  body,
  #svelte,
  #svelte > main {
    height: 100%;
  }

  html {
    height: 100vh;
    scroll-behavior: smooth;
  }

  hr {
    @apply border-faded;
  }

  summary,
  details,
  details summary {
    background-image: none;
    -webkit-appearance: none;
  }

  details {
    @apply my-8 border-b border-faded;
  }

  summary {
    @apply flex justify-between
        outline-none;
    position: relative;
    cursor: pointer;
  }
  .rotator {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s transform ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
  }
  .rotator::before,
  .rotator::after {
    @apply bg-secondary
      pointer-events-none;
    position: absolute;
    content: " ";
    height: 12px;
    width: 2px;
  }
  .rotator::after {
    transform: rotate(90deg);
  }

  /* has to be summary. */
  .summary::-webkit-details-marker,
  .summary::marker {
    /* Should remove the triangle from safari */
    display: none;
  }

  details.open .rotator {
    transform: rotate(45deg);
  }

  .base-section {
    @apply px-main max-w-5xl mx-auto text-primary-dark;
  }
  .btn {
    @apply bg-secondary w-full rounded p-[13px] text-white font-bold leading-[150%];
  }

  .btn--disabled {
    @apply bg-faded-blue;
  }

  .btn--secondary {
    @apply text-primary bg-white border-secondary border-2;
  }

  .btn--secondary.btn--disabled {
    @apply bg-white border-faded-blue text-faded-blue;
  }
}

.header-primary {
  @apply text-primary font-bold text-header;
}

.header-primary--main {
  @apply md:text-5xl md:text-center;
}

.guide-grid {
  display: grid;
  grid-template-columns: 30% 70%;
}

.accordion__content p {
  margin: 1rem 0;
}

.menu-item {
  @apply font-assistant text-primary font-semibold;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0em;
}

:root {
  font-family: "Assistant", "Roboto", sans-serif;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media print {
  .printer-hidden {
    display: none;
  }
}
