/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.tff") format("truetype");
}

@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Assistant-Regular.tff") format("truetype");
}

@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Assistant-SemiBold.tff") format("truetype");
}

@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Assistant-Bold.tff") format("truetype");
}

@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Assistant-ExtraBold.tff") format("truetype");
} */
